<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Blank </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header> -->
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <ion-title>Welcome to My page</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <img src="assets/logo.png" alt="Ionic" />
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Ionic Intriduction</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        <ion-button color="success">Like</ion-button>
        <ion-button color="success">dislike</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="assets/sumant.jpg" alt="Ionic" />
            <ion-card-subtitle>sumant Kumar</ion-card-subtitle>
            <ion-card-title>I am sumant kumar</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Myself,sumant kumar I have done b.tech from computer science and engineering ferozepur
        </ion-card-content>
        <ion-button color="success">Like</ion-button>
        <ion-button color="success">dislike</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <img src="assets/friend.jpg" alt="Ionic" />
            <ion-card-subtitle>We are friend</ion-card-subtitle>
            <ion-card-title>They are all my good friend</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        <ion-button color="success">Like</ion-button>
        <ion-button color="success">dislike</ion-button>
    </ion-card>
</ion-content>